{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <img class = "rounded_circle article-img" src="{{ url_for('static' , filename = 'ins_profiles/'+event.host.ins_img) }} ">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{{ url_for('institute_info' , ins_id = event.host.id ) }}">{{ event.host.ins_name }}</a>
    <h2 class="article-title">{{ event.title }}</h2>
    <h3 class="article-content">{{ event.short_disc }}</h3>
    <h4 class="text-muted">Last Date for Registration: {{ event.reg_last_date.strftime('%Y-%m-%d') }}</h4>
    <h4 class="text-muted">Date Of Event: {{ event.event_date.strftime('%Y-%m-%d') }}</h4>
    <figure class="figure">
    <img src="{{ url_for('static',filename='event_posters/'+event.poster) }}" class="figure-img img-fluid rounded">
    </figure>
    <h5 class="text-muted">EVENT INFO IN DETAIL</h5>
    <p class="article-content">{{ event.long_disc }}</p>
   
    </div>
  </div>
 
</article>
{% if event.host != current_user %}
{% if current_user.is_authenticated  %}
  <a href="{{ url_for('response') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Respond</a>
  {% else %}
  <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-pressed="true">Respond</a>
  {% endif %}
  {% endif %}
{% if event.host == current_user %}
          <div>
            <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="#">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
  {% endif %}

<!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the event?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_event',event_id=event.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
    </div>
{% endblock content %}
