{% extends "layout.html" %}
{% block content %}
  <form class="form-inline md-form mr-auto mb-4">
   <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
   <div class="dropdown dropright"> 
     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Search by
     </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Institute Name</a>
      <a class="dropdown-item" href="#">Event Name</a>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tags
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       <a class="dropdown-item" href="#">Engineering</a>
       <a class="dropdown-item" href="#">Polythcnics</a>
       <a class="dropdown-item" href="#">5th to 10th</a>
      </div>
     </button>
   </div>
   </div>
   <button class="btn aqua-gradient btn-rounded btn-sm my-0 ml-2" type="submit">Search</button>
  </form>

   {% for event in events %}
       <article class="media content-section">
       	{% if event.host.ins_id %}
          	<img class="rounded_circle article-img" src="{{ url_for('static' , filename = 'ins_profiles/'+event.host.ins_img) }}">
        {% else %}
        	<img class="rounded_circle article-img" src="{{ url_for('static' , filename = 'ins_profiles/default.jpg') }}">
        {% endif %}
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('institute_info', ins_id = event.host.id ) }}">{{ event.host.ins_name }}</a>
              <small class="text-muted">{{ event.reg_last_date.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('event',event_id=event.id) }}">{{ event.title }}</a></h2>
            <p class="article-content">{{ event.short_disc }}</p>
          </div>
        </article>
   {% endfor %}
{% endblock content %}