{% extends "layout.html" %}
{% block content %}
    <img src="{{ url_for('static' , filename = 'ins_profiles/'+institute.ins_img) }}">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"> {{ institute.ins_name }}</h1>
        <p class="lead">Admin Name : {{ institute.admin_name }}</p>
        <p class="lead">Email : {{ institute.email }}</p>
        <p class="lead">Mobile No : {{ institute.mobile_no }}</p>
        <p class="lead">Total No of Students : {{ institute.no_of_students }}</p>
        <p class="lead">Number of Staff Members : {{ institute.no_of_staff }}</p>
      </div>
  </div>
    {% for event in events %}
       <article class="media content-section">
          <img class="rounded_circle article-img" src="{{ url_for('static' , filename = 'ins_profiles/'+event.host.ins_img) }}">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ event.reg_last_date.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('event',event_id=event.id) }}">{{ event.title }}</a></h2>
            <p class="article-content">{{ event.short_disc }}</p>
          </div>
        </article>
   {% endfor %}
{% endblock content %}
